---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - <br />
    Learn more about my projects on
    <Social platform="github" username="ncaccia" icon="ðŸ˜¸" /> or
    <Social platform="twitter" username="nico_caccia" icon="ðŸ¦" />
  </p>
</footer>
